<!DOCTYPE html>
<html>
<head>
  <title>TwilioApp</title>
  <%= stylesheet_link_tag "assets/application" %>
  <%= javascript_include_tag "assets/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
